/* product image hover effect */
.img-hover{
    transition: transform 1.2s;
}
.img-hover:hover{
    transform: scale(1.05);
}
.price-container{
    width: 50%;
}
hr{
    background-color: rgb(6, 6, 175);   
}
.thick-hr{ 
    height: 2px !important;
    background-color: black;
    opacity: 100;
}

/* media query */
@media  only screen and (max-width:1024px){
    .price-container{
        width: 100%;
    }
}